<%- include('../partials/header') %>

<h2>meetings/show</h2>

<section id="meeting-info">
    <div>Meeting:</div>
    <div><%= meetings.mtgName %></div>
</section>

<%- include('../partials/footer') %>