<%- include('./partials/header') %>
<h1>AA/NA Literature</h1>
  <p>
    Explore literature related to Alcoholics Anonymous (AA) or Narcotics Anonymous (NA).
  </p>

  <div class="literature-list">
    <div class="literature-link">
      <div>
        <h2>AA Big Book</h2>
        <p>Published by Alcoholics Anonymous World Services, Inc.</p>
      </div>
      <a href="#">Read</a>
    </div>

    <div class="literature-link">
      <div>
        <h2>NA Basic Text</h2>
        <p>Published by Narcotics Anonymous World Services, Inc.</p>
      </div>
      <a href="#">Read</a>
    </div>

    <div class="literature-link">
      <div>
        <h2>AA Twelve Steps and Twelve Traditions</h2>
        <p>Published by Alcoholics Anonymous World Services, Inc.</p>
      </div>
      <a href="#">Read</a>
    </div>
  </div>

  <%- include('./partials/footer') %>