<%- include('./partials/header') %>

<section id="resources">
  <h1>AA/NA Literature</h1>
  <p>
    Explore literature related to Alcoholics Anonymous (AA) or Narcotics Anonymous (NA).
  </p>

  <div class="literature-list">
    <div class="literature-link">
      <div>
        <h2>AA Big Book</h2>
        <p>Published by Alcoholics Anonymous World Services, Inc.</p>
        <a href="https://www.aa.org/the-big-book">Read</a>
      </div>
    </div>

    <div class="literature-link">
      <div>
        <h2>NA Basic Text</h2>
        <p>Published by Narcotics Anonymous World Services, Inc.</p>
        <a href="https://static1.squarespace.com/static/514ddaa4e4b0123f55d0ef21/t/624e047c83affa4b6bad9f06/1649280129406/NA+Basic+Text+6th.pdf">Read</a>
      </div>
    </div>

    <div class="literature-link">
      <div>
        <h2>AA Twelve Steps and Twelve Traditions</h2>
        <p>Published by Alcoholics Anonymous World Services, Inc.</p>
        <a href="https://www.aa.org/twelve-steps-twelve-traditions">Read</a>
      </div>
    </div>
  </div>
</section>

  <%- include('./partials/footer') %>