body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
}

h3 {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(30, 2, 61);
}

a {
  color:rgb(30, 2, 61);
}

/* NAVIGATION */

nav {
  background-color: rgb(30, 2, 61);
  height: 50px;
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px #ccc;
}

nav a {
  padding: 5px;
  margin: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

nav a:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.active {
  color: rgba(255, 255, 255, 1)
}

/* /meetings/index STYLES */

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.table-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #dadada;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .08);
}

.table-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid #dadada;
}

.heading {
  background-color: #ececec;
  color: #3e3e3e;
  font-weight: bold;
}

.row-item {
  display: flex;
  flex: 1;
  font-size: 14px;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
}

.row-item:hover {
  background-color: #F0F0F0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .08);
}

/* FORM STYLES */

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

label {
  margin-bottom: 0px;
}

input,
select {
  padding: 5px;
  margin: 5px 0px 20px 0px;
  box-sizing: border-box;
  width: 100%;
}

textarea {
  height: 40px;
}

#meeting-form,
#update-meeting-form {
  display: block;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

#dependent-inputs {
  display: none;
}

#location {
  display: none;
}

/* SHOW PAGE STYLES */

.show-details-map-container {
  display: flex;
  justify-content: center;
}

#map {
  margin-top: 50px;
  margin-left: 5vmin;
}

#meeting-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

#zoom-info > div {
  margin-top:1.75px;
  margin-bottom: 10px;
}

#update-meeting-btn {
  width: 100%;
  margin: 10px 0 0 0;
}

.grey-text {
  color: rgba(0, 0, 0, 0.7)
}

/* COMMENTS */

#comment-wrapper {
  text-align: left;
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 14px;
  margin-top:15px;
}

#comments-section {
  width: 69%;
  border-top: 1px solid grey;
  text-align: center;
  margin: 0 auto;
  margin-top:30px;
  padding-top: 10px;
}

ul {
  margin:0 0 0 10px;
  padding:0;
}

.avatar {
  margin-top:20px;
}

.avatar>img {
  border-radius: 50%;
  height: 50px;
}

.delete-comment-form {
  display: inline;
}

.delete-comment-btn {
  width: 12px;
  height: 13px;
  padding: 0px 0px 0px 0px;
  margin-left: 0;
}

/* BUTTONS */

button {
  padding: 8px;
  background-color: rgb(30, 2, 61);
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover,
input[type=submit]:hover {
  background-color: rgb(63, 3, 123);
  color: rgba(255, 255, 255, 1);
}

input[type=submit] {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(30, 2, 61);
  border: none;
  padding: 8px;
}


/* HOME PAGE */

#home-page {
  margin:40px;
}

.image-container {
  position: relative;
  margin-left: 40vmin;
}

.image-container img {
  width: auto;
  height: 60vmin;
  display: block;
}

h1, h2 {
  color: rgb(30, 2, 61);
  margin-bottom:10px;
}

p {
  color: #333;
  line-height: 1.6;
}

.featured-meetings {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.featured-meeting {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
}

#home-search {
  margin-left: 40px;
}

.search-form {
  margin-top: 30px;
  text-align: left;
}

/* RESOURCES PAGE */

#resources {
  margin:40px;
}

.literature-list {
display:flex;
flex-direction: column;
margin-bottom: 20px;
}

.literature-link {
  color: rgb(30, 2, 61);
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:60%;
  margin:0 auto;
  margin-bottom: 20px;
}

/* UPDATE MODAL */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 1001;
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

input, div.modal-content > form > input, div.modal-content > form > select {
  border:0.8px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}

button {
  border-radius: 2px;
}
